@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

html{
    scroll-behavior: smooth;
  }


body{
    background: linear-gradient(to right, #120836, #400f71, #885ac4);
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
}

header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    padding: 30px 5%;
    transition: all .30s ease;
    background-color: #130a34;

}

.nav-logo {
    display: flex;
    align-items: center;
      
}

.nav-logo i{
    margin-right: 3px;
}

.nav-logo span{
    font-size: 1.7rem;
    color: whitesmoke;
    font-weight: 400;
    transition: all .30s ease;
    
}

.nav-logo span:hover{
    color: #885ac4;
}


.nav-links{
    display: flex;
}

.nav-links a {
    color: whitesmoke;
    font-size:  1rem;
    font-weight: 400;
    padding: 5px 0;
    margin: 0px 95px;
    transition: all .30s ease;

}

.nav-links a:hover{
    color: #885ac4;
}

.contact{
    display: flex;
    align-items: center;
}

.contact a {
    color: whitesmoke;
    margin-right: 25px;
    margin-left: 10px;
    font-size: 1rem;
    transition: all .30s ease;

}

.contact a:hover{
    color: #885ac4;
}

#menu-icon{
    font-size: 30px;
    color: whitesmoke;
    cursor: pointer;
    z-index: 10001;
    display: none;
}

#close-icon{
    font-size: 30px;
    color: whitesmoke;
    cursor: pointer;
    z-index: 10001;
    display: none;
}

@media (max-width: 1280px){
    header{
        padding: 14px 2%;
        transition:  .2s;
    }

    .nav-links a{
        padding: 5px 0;
        margin: 0px 20px;
    }
    
}


@media (max-width: 1090px){
    #menu-icon{
        display: block;
    }


    .nav-links{
        position: absolute;
        top: 100%;
        right: -100%;
        width: 270px;
        height: 41vh;
        background-color: #ac93cd;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        border-radius: 10px;
        transition: all .50s ease;
        padding-left: 15px;
        
    }

    .nav-links a{
        display: block;
        margin: 12px 0;
        padding: 0px 25px;
        transition: all .50s ease;
        
    }

    .nav-links:hover{
        color: #241539;
        transform: translateX(5px);
    }

    .nav-links.open{
        right: 2%;
    } 
    
}

.canvas{
    margin-top: 130px;
    margin-bottom: 100px;
    margin-right: 80px;
    padding-left: 90px;
    padding-top: 430px;
    
}

.intro{
    color: whitesmoke;
    margin-bottom: 130px;
    margin-right: 150px;
    font-size: 50px;
    top: 100%;
    left: 2%;
    display:flex;
    transition: all .50s ease;
    padding-left: 560px;
    padding-top: 350px;
    width: 270px;
    height: 100vh;
    background-color:#130a34;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;

}

.hello{
    white-space: nowrap;
    overflow: hidden;
    color: #ffffff;

}


.about{
    padding-top: 20px;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 130px;
    margin-left: 25%;
    margin-right: 25%;
    background-color: #130a34;
    border-radius: 15px;
    height: 60vh;

    
}

.about-cont{
    font-size: 16px;
    text-align: justify;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;
    color: whitesmoke;
}

.about-cont-li{
    font-size: 16px;
    text-align: justify;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 10px;
    color: whitesmoke;
}

.skills{
    padding-top: 20px;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 35px; 
    margin-bottom: 95px;
    margin-left: 25%;
    margin-right: 25%;
    background-color: #130a34;
    border-radius: 15px;
    height: 55vh;
    color: whitesmoke;

} 

.skills-cont{
    font-size: 21px;
    text-align: justify;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 25px;
    color: whitesmoke;
}

.skills-cont-li{
    display: inline;
    display: flex;
    align-items: flex-end;
    justify-content:space-evenly;
    padding-top: 5px;
    padding-bottom: 10px;
    flex-wrap: nowrap;
    
}

.skills-cont-li :hover{
    color: #885ac4;
    transition: all .30s ease;
}    

.git{
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 15px;
    margin-top: 130px;
    margin-bottom: 35px;
    margin-left: 25%;
    margin-right: 25%;
    background-color: #130a34;
    border-radius: 15px;
    height: 70vh;
    color: whitesmoke;

} 

.git-cont{
    margin-top: 30px;
    margin-left: 200px;
    text-align: justify;
    padding-left: 40px;
    padding-right: 40px;
    color: whitesmoke;
    background-color: #8279a3;
    border-radius: 15px;
    height: 30vh;
    width: 45vh;
}

.git-para{
    font-size: 15px;
    text-align: justify;
    padding-top: 20px;
    padding-right: 31px;
    padding-left: 20px;
}
    


